<?xml?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>编辑更新员工</title>
 </head>
 <body>

	

<form action="__MODULE__/Yg/update" method="post">
员工姓名：<input type="text" name="ygname" value="{$data['ygname']}"/><br/>
部门选择：
<select name="bmname" >
<volist name="ulist" id="bm">
<option value="{$bm['bmname']}">
{$bm['bmname']}
</option>
</volist>
</select><br/>
邮箱：<input type="text" name="email" value="{$data['email']}"/><br/>
性别：
男<input type="radio" name="sex" value="男" checked="checked"/>
女<input type="radio" name="sex" value="女"/><br/>
电话1：<input type="text" name="tel1" value="{$data['tel1']}"/><br/>
电话2：<input type="text" name="tel2" value="{$data['tel2']}"/><br/>
QQ：<input type="text" name="qq" value="{$data['qq']}"/><br/>
<input type="hidden" name="id" value="{$data['id']}"/>
<input type="submit" value="保存">
</form>

 </body>
</html>